@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *)); 

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.dark body {
  background-color: #111827;
}
